body{
    margin: 0 0 55px 0;;
}
.nav-link{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.slide-left {
    animation: 0.5s slide-left;
    }
@keyframes slide-left {
    from {
        margin-left: 7%;
    }
    to {
        margin-left: 0%;
    }
    }
