@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #343a40;
}

.circular-progress-bar {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #05F2F2;
    border-radius: 50%; 
    display: grid;
    place-items: center;
    }
.circular-progress-bar:before {
    content: "";
    position: absolute; 
    height: 80%;
    width: 80%;
    background-color: #343a40 ;
    border-radius: 50%;
    }